/* Google Fonts Import - Assuming 'Bungee Spice' is the chosen font */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

/* Simple Reset */
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue; /* Light blue background */
    font-family: 'Bungee Spice', Helvetica, sans-serif; /* Bungee Spice with fallbacks */
    font-size: 22px; /* Base font size increased for readability */
}

h2 {
    margin: 0;
}

header {
    background-color: aqua;
    color: #d9c2a3;
}

nav a {
    text-decoration: none;
    color: #030027;
    padding: 35px;
    text-align: center;
}

.book, .join {
    background-color: aquamarine;
    color: #d9c2a3;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

/* Adding padding-top to #logo_link */
#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.logo, .icon {
    width: 80px;
    padding-top: 10px;
}

.home-title {
    font-family: 'Bungee Spice', Arial, sans-serif; /* Example of applying specific font to an element */
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

.book:hover, .join:hover {
    background-color: #4aad52;
    color: yellow;
}

.card-img {
    border: 10px solid #d9c2a3;
    box-sizing: border-box;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.msg {
    background-color: aquamarine;
    color: blue;
    padding: 35px;
    line-height: 1.5em;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    background-color: aquamarine;
    color: #d9c2a3;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    nav a {
        padding: 20px;
    }

    .book, .join {
        padding: 10px 20px;
        font-size: 18px;
    }

    .card-img {
        border-width: 5px;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 10px;
        text-align: center;
    }

    header, .msg, footer {
        text-align: center;
    }

    .book, .join {
        font-size: 16px;
    }
}
